.m-preview-prev {
    position: absolute;
    margin: auto;
    margin-top: 50vh;
}

.overlayBg {
    width: 100%;
    height: 100%;
    z-index: 110000000 !important;
    position: absolute;
    background-color: rgba(6, 0, 34, 0.8);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}