@import url('../fonts/fonts.css');
@import url('./variable.css');
@import url('./text-css.css');

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-linear-gradient( rgba(47, 0, 255, 0), rgb(135, 178, 235), rgba(47, 0, 255, 0));
}

/* Overrides */
.v-application {
    font-family: 'Karla';
    font-weight: 500;
}

.thanks {
    font-family: "Poiret One";
    font-weight: 700;
    letter-spacing: 2px;
    font-size: medium;
}



.c-content-divider {
    width: 100%;
    padding-top: 1px;
    background-image: var(--webkit-horizontal-gradient-color);
}

.c-content-divider-vertical {
    max-height: 100%;
    padding-left: 1px;
    display: inline;
    background-image: var(--webkit-gradient-color);
}

.footerText {
    font-size: 13px;
}

.overlayLayer {
    backdrop-filter: blur(3px);
    background-size: cover;
    transition: 0.2s opacity ease-out;
}

.toCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
}
