.pageLogo {
    padding-top: 15px;
    height: 90px;
    cursor: pointer;
}

.navbarTitle {
    font-family: 'Baloo 2';
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2vw;
}

.navbarContainer {
    /* background-image: linear-gradient( rgb(224, 224, 224), rgb(31, 31, 31,0)); */
    background-color: rgb(255, 255, 255) !important;
}

.navbarContainer-dark {
    background-image: linear-gradient( rgba(0, 132, 255, 0.1), rgb(31, 31, 31));
    background-color: rgb(31, 31, 31) !important;
}

.navbarImage {
    height: 100px;
    filter: saturate(55%) blur(0.3px) opacity(0.6);
    /* opacity: 40%; */
    margin-top: -20px;
    transition: ease-in-out 200ms;
}

.navbarImage-dark {
    height: 100px;
    margin-top: -20px;
    transition: ease-in-out 200ms;
}

.navbarText {
    font-size: 13px !important;
}