@keyframes slidein {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.c-main-logo-img {
    padding-top: 15px;
    height: 90px;
    cursor: pointer;
}

.c-main-title-text {
    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.2vw;
    color: var(--logo-primary-color) !important;
}

.c-link-text {
    text-decoration: none;
    color: var(--link-active-color) !important;
    font-weight: bold;
}

.c-link-text:hover {
    text-decoration: none;
    color: var(--link-hover-color) !important;
    font-weight: bold;
    transition-duration: 300ms;

}

.c-text-wrapper {
    animation: slidein ease-in-out 1200ms;
    border-radius: 10px;
}

.c-text-container {
    border-radius: 20px;
    border-style: solid;
    border-image: var(--webkit-gradient-color);
    border-image-slice: 1;
    width: 100;
    backdrop-filter: blur(5px);
    max-width: 800px;
}

.c-text-body {
    font-size: 14px;
    color: var(--body-primary-color) !important;
    word-spacing: 1.5px;
}

.c-text-display {
    font-family: 'Poiret One';
    font-size: 15px;
    font-weight: bold;
    color: var(--title-primary-color) !important;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.c-text-title {
    font-size: 14px;
    font-weight: 600;
    font-family: "Poiret One";
    /* color: rgb(58, 104, 129) !important; */
    color: var(--title-primary-color) !important;
    letter-spacing: 2px;
}

.c-text-subtitle {
    font-size: 13px;
    font-weight: 600;
    font-family: "Poiret One";
    color: var(--title-secondary-color)  !important;
    letter-spacing: 2px;

}


/* Dark Mode */
.c-main-title-text.dark {
    background: -webkit-linear-gradient(rgb(0, 195, 255), rgb(0, 162, 173));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}